body{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    width: 100%;
    background-image: url(./img/img2008.jpg);
    background-position: center;
    background-size: cover;

}
.heading{
    height: 60px;
    background-color: transparent;
}
.navbar img{
    height: 60px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menubar a{
    margin-left: 45px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.menubar2{
    margin-right: 50px;
}
.btn{
    background-color: yellowgreen;
    border: 1px solid green;
    border-radius: 3px;
    font-size: 18px;
}

